@import '~antd/dist/antd.css';
body{
  color: #666;
}
a,h2{
  color: #e9550f;
}
a:hover{
  color:#d04b0d
}
.ant-layout{
  background: none;

}
.ant-rate-star-active .ant-rate-star-first{
  opacity: 1;
  color: inherit;
}
.ant-rate-star-f1 .ant-rate-star-first{
  width: 10%;
}.ant-rate-star-f2 .ant-rate-star-first{
  width: 20%;
}.ant-rate-star-f3 .ant-rate-star-first{
  width: 30%;
}.ant-rate-star-f4 .ant-rate-star-first{
  width: 40%;
}.ant-rate-star-f5 .ant-rate-star-first{
  width: 50%;
}.ant-rate-star-f6 .ant-rate-star-first{
  width: 60%;
}.ant-rate-star-f7 .ant-rate-star-first{
  width: 70%;
}.ant-rate-star-f8 .ant-rate-star-first{
  width: 80%;
}.ant-rate-star-f9 .ant-rate-star-first{
  width: 90%;
}

.ant-badge-status-default {
  background-color: #131111;
}

 @media screen and (max-width: 480px){
   .ant-card-bordered{
     border: 0;
   }

 }

@-webkit-keyframes progressbar {
  from {
    width:0
  }
  to {
    width:100%
  }
}
@keyframes progressbar {
  from {
    width:0
  }
  to {
    width:100%
  }
}

@media screen and (max-width: 768px) {
  *{
    -webkit-overflow-scrolling: touch;
  }
}



