:local(.layout_master) {
    background: #ffffff !important;
}

:local(.sidebar) {
    background: black !important;
    border-right: 1px solid #dedede;
    height: 100vh;
    position: sticky !important;
    top: 0
}

:local(.right_layout) {
    height: 100vh;
    background: #ffffff !important;

}

:local(.right_content) {
    padding: 24px;
    margin: 0;
}

@media screen and (max-width: 768px){

    :local(.right_content) {
        padding-bottom: 130px;
    }
}