:local(.layout_login) {
    height:100vh !important;
    background: url('/images/bg.jpg') no-repeat !important;
    background-size: cover !important;
}
:local(.logo img) {
    width: 150px;
}
:local(.logo) {
    text-align: center;
    padding-top: 30px;
}
