:local(.share_list span.icon_fb){

    background-image: url("/images/facebook.png");
}
:local(.share_list span.icon_twitter){

    background-image: url("/images/twitter.png");

}
:local(.share_list span.icon_email){

    background-image: url("/images/email.png");

}
:local(.share_list span){
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin: 10px 5px;
    background-size: 100%;
    background-repeat: no-repeat;


}
:local(.share_list){}
:local(.menu ul li .btn_grey:hover){
    color: #575656;
}
:local(.menu ul li .btn_grey){

    display: inline-block;
    width: 200px;
    background: #131212;
    border-radius: 2px;
    color: #464545;

}
:local(.sidebar){
    background: black !important;
    border-right: 1px solid #dedede;
    height: 100vh;
    position: sticky !important;
    top: 0
}

:local(.sidebar_mobile){
    background: black !important;
    border-right: 1px solid #dedede;
    height: 100vh;
    position: sticky !important;
    top: 0
}

:local(.logo){
    text-align: center;

}
:local(.logo img){
    max-width: 100%;
    margin: 50px 0;
    border-radius: 10px;
    width: 100px;
}

:local(.menu ul){
}

:local(.menu ul li a){
    display: block;
    width: 100%;
    line-height: 60px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}
:local(.menu ul li a:hover){
    color: #ff8310;
}
:local(.menu ul li a.btn_transparent){
    display: inline-block;
    width: auto;
    border: 1px solid #dddddd;
    padding: 0 40px;
    border-radius: 4px;
}

:local(.menu ul li){
    display: block;
    text-align: center;
}
:local(.menu ul li.devider:before){
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    top: -40px;
    background: #bdbaba;
    left: calc(50% - 20px);
    display: block;
}
:local(.menu ul li.devider){

    position: relative;
    margin: 60px 0;
}

:local(.menu ul li span.badge){
    font-size: 12px;
    color: white;
    position: absolute;
    right: 40px;
}



.ant-layout-sider-collapsed img{
padding: 5px;
}


.ant-layout-sider-trigger{
    border-right: 2px solid #dedede;
    background: #232323;
}

:local(.menu .btn_hide_sidebar){
    background: #232323;
    width: 100%;
    display: block;
    padding: 13px;
    font-size: 13px;
    color: white;
    position: absolute;
    bottom: 49px;
    cursor: pointer;
}

:local(.sidebar_bottom_wrap){
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    padding: 10px;
    text-align: center;
    background: #272829;
    color: white;
}
:local(.share_via_text){
    background: url("/images/iphon-text-icon.png") no-repeat;

    width: 30px;
    height: 30px;
    display: inline-block;

}
:local(.menu .btn_show_sidebar){
    background: #232323;
    width: 100%;
    display: block;
    padding: 13px;
    font-size: 13px;
    color: white;
    position: absolute;
    bottom: 49px;
    cursor: pointer;
}


@media screen and (max-width: 480px){
    :local(.menu ul li a){
        line-height: 45px;
    }
    :local(.logo img){
        max-width: 100%;
        margin: 20px 0;
        border-radius: 10px;
        width: 80px;
    }
    :local(.menu ul li.devider){
        margin: 30px 0;
    }

    :local(.menu ul li.devider:before){
        display: none;
    }

    .ant-confirm .ant-modal-body {
        padding: 10px !important;
    }
    .ant-confirm-body .ant-confirm-content{
        margin-left: 0 !important;
    }
}
